h2 {
  /* remember that colors are in hexadecimal with #RRGGBB */
  font-family: Papyrus;
  color: #5F609F;
  font-size: 80px;
  text-align: center;
  letter-spacing: 2px;
  
}

 /*If you want something to happen while hovering over

h2:hover{
  
  font-size: 10px;
}
*/


body {
  
  background-color: #77CBB9;
}

p {
 
  text-align: center;
}

image:hover {
  
  border: dashed blue 2px;
  border-radius: 35%;
  
}


nav{
  list-style-type: none;
  position: fixed;
  background-color: #7DCBFB;
  width: 100vw;
  top: 0;
  left: 0;
  padding: 12px;
}

li{
  font-size: 25px;
  display: inline;
  padding: 10px;
  
}


a{
  text-decoration: none;
  color: white;
}


li:hover{
  background-color: gold;
}
